html,
body {
  height: 100vh;
  background: white;/*#1d2330;*/
  width: 100vw;
}

body {
  margin: 0;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.el {
  position: relative;
  /*background-color: #00ff00;*/
  height: 20px;
  width: 20px;
  border-radius: 10px;
  /*background-color: purple;*/
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  justify-content: center;
  align-content: center;
  display: flex;
}

.sun {
  position: relative;
  /*background-color: #00ff00;*/
  height: 40px;
  width: 40px;
  /*background-color: purple;*/
  border-radius: 20px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  justify-content: center;
  align-content: center;
  display: flex;
}

.line {
  position: relative;
  background-color: lightblue;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  left: 0;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}

.writeInput {
  font-size: 20px;
  padding: 10px;
  width: calc(100% - 20px);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: darkgray solid .1px;
}
